.LocationInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem;
}

.infoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.infoContainer h6 {
  color: var(--cor-text-second);
  line-height: 100%;
}
.option {
  display: flex;
  align-items: center;
}
.option svg path {
  stroke: var(--cor-text-second);
}

.icon path {
  stroke: var(--cor-text-second);
}
