.LocationInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem;
  position: relative;
  margin-bottom: 2rem;
}
.LocationInfo::after {
  content: "";
  width: 100%;
  height: 113px;
  background-image: url("../../Assets/border-top.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  position: absolute;
  top: -1px;
  z-index: -1;
  left: 0;
  transform: rotate(180deg);
}

.infoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.infoContainer h6 {
  color: var(--cor-text-second);
  line-height: 100%;
}
.option {
  display: flex;
  align-items: center;
}
.option svg path {
  stroke: var(--cor-text-second);
}

.icon path {
  stroke: var(--cor-text-second);
}
