.CartProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.product {
  display: grid;
  grid-template-columns: 94px 1fr;
  margin: 0 1rem 0.625rem 1rem;
  background-color: var(--cor-white);
  border-radius: 15px;
}
.img {
  border-radius: 15px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.nameClose {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.qtde {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.info {
  padding: 0.625rem;
}
.info h5 {
  line-height: 110%;
  color: var(--cor-text-second);
  font-weight: 400;
}
.star,
.time {
  display: flex;
  align-items: center;
  gap: 5px;
}
.time h6 {
  color: var(--cor-text-second);
  font-weight: 400;
}
.price {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.price h5 {
  padding: 0.313rem;
  font-weight: 700;
  border-radius: 15px;
  color: var(--cor-text-first);
  font-size: 1rem;
}
.close {
  padding: 0;
  min-width: 2rem;
  border: none;
  background-color: transparent;
  color: var(--cor-link);
  border-radius: 5px;
}
.close:hover,
.close:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgb(255, 180, 170), 0 0 0 2px var(--cor-link);
}
.form {
  max-width: 90px;
  display: grid;
  grid-template-columns: 25px 30px 25px;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-suport);
  border-radius: 15px;
}
.form button {
  min-width: 0.625rem;
  padding: 0.3rem 0;
  background-color: var(--cor-suport);
  color: var(--cor-text-first);
}
.form h1 {
  text-align: center;
  color: var(--cor-text-first);
  font-size: 14px;
  font-weight: 400;
}
